# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data brute (trop lourde pour git)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Reports générés
reports/figures/*.png


